html {
  background: linear-gradient(45deg, #A683E3, #E4E9FD);
  min-height: 100%;
  font-family: 'helvetica neue';
  position: relative;
}

body {
  margin: 0;
  padding-bottom: 80px;
}

h1 {
  color: #fff;
  padding: 10px;
}

h2 {
  color: #fff;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background: linear-gradient(to right, #A683E3, #D3C4F0);
  text-align: center;
  color: #fff;
}

/* Add minimal animation on hovering the headings div */
#heading:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}


.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  transition: border-color 0.3s ease;
}

.item:last-child {
  border-bottom: none;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
  color: #777;
  opacity: 0.6;
  animation-name: fadeOut;
  animation-duration: 2s; /* Adjust the duration as needed */
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
  }
}

input[type="checkbox"] {
  margin: 20px;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #A683E3;
  border-radius: 50%;
  outline: none;
  transition: border-color 0.3s ease;
  position: relative;
}

/* Add animation on hovering the checkboxes */
input[type="checkbox"]:hover {
  animation-name: pop;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}



input[type="checkbox"]:checked {
  border-color: #A683E3;
  background-color: #A683E3;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #042d62;
  font-family: 'Helvetica Neue', sans-serif;
  transition: color 0.3s ease;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background: linear-gradient(to right, #A683E3, #D3C4F0);
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:hover {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; /* Set the animation to run only once */
}

input[type="text"]:focus {
  animation: none; /* Disable the animation when the input is focused */
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}


input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  bottom: 0;
  height: 80px;
  width: 100%;
  padding-bottom: 15px;
  opacity: 0.6;
}

.about {
  text-align: center;
}
